<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Название вашего проекта</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      padding-top: 20px;
    }

    .container {
      max-width: 800px;
      margin: 0 auto;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Главная</a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="candidatesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Кандидаты
        </a>
        <div class="dropdown-menu" aria-labelledby="candidatesDropdown">
          {% for candidate in candidates %}
            <a class="dropdown-item" href="/candidate/{{ candidate.pk }}">{{ candidate.name }}</a>
          {% endfor %}
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="skillsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Поиск по навыкам
        </a>
        <div class="dropdown-menu" aria-labelledby="skillsDropdown">
          {% for skill in skills %}
            <a class="dropdown-item" href="/skills/{{ skill }}">{{ skill }}</a>
          {% endfor %}
        </div>
      </li>
    </ul>
  </nav>


  <div class="container">
    {% block content %}
    {% endblock %}
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
