{% extends 'base.html' %}

{% block content %}
  <h1>Flask Candidate Management Project</h1>
  <p>Includes functionality for data loading, skill-based search, adding, editing and displaying candidate information.</p>
  <a href="{{ url_for('add_candidate') }}" class="btn btn-primary">Добавить нового кандидата</a>

  <h2>Список кандидатов:</h2>
  {% for candidate in candidates %}
    <pre>
      Имя кандидата: {{ candidate['name'] }}
      Позиция: {{ candidate['position'] }}
      Навыки: {{ candidate['skills'] }}
    </pre>
  {% endfor %}
{% endblock %}


